<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="false" version="3.0"
    >

  <display-name>asio</display-name>
  <description>HTTP frontend for a relational database</description>

  <!-- disable jar scanning -->
  <absolute-ordering>
    <name>log4j</name>
    <others />
  </absolute-ordering>

  <!-- spring configuration setup - scans given pacakge for @Configuration classes -->
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
    </param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>at.ac.univie.isc.asio.config</param-value>
  </context-param>
  <context-param>
    <param-name>spring.profiles.default</param-name>
    <param-value>dataset</param-value>
  </context-param>

  <!-- leak preventor options -->
  <context-param> <!-- XXX increase for production -->
    <param-name>ClassLoaderLeakPreventor.threadWaitMs</param-name>
    <param-value>1000</param-value>
  </context-param>

  <session-config> <!-- minutes -->
    <session-timeout>10</session-timeout>
  </session-config>

  <!-- clean up listener wraps all others -->
  <listener>
    <listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventor</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <listener>  <!-- enables spring request scopes -->
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>

  <!-- cxf dispatch -->
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
      org.apache.cxf.transport.servlet.CXFServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>static-resources-list</param-name>
      <param-value>/explore/.*</param-value>
    </init-param>
    <init-param>
      <param-name>redirects-list</param-name>
      <param-value>/meta/events</param-value>
    </init-param>
    <init-param>
      <param-name>redirect-servlet-name</param-name>
      <param-value>event-stream-servlet</param-value>
    </init-param>
    <init-param>
      <param-name>redirect-attributes</param-name>
      <param-value>javax.servlet.include.request_uri</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
