<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %5p %c{1}: %m%n"/>
    </layout>
  </appender>

  <appender name="asio-events" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %m%n" />
    </layout>
  </appender>

  <!-- FIXME : remove after getting rid of ResponseMonitor -->
  <logger name="at.ac.univie.isc.asio.tool.ResponseMonitor">
    <level value="error" />
  </logger>

  <!-- enable HTTP response dump on failed test cases -->
  <logger name="at.ac.univie.isc.asio.jaxrs.ManagedClient">
    <level value="error" />
  </logger>

  <!-- application logger -->
  <logger name="at.ac.univie.isc.asio">
    <level value="off" />
  </logger>

  <logger name="at.ac.univie.isc.asio.events" additivity="false">
    <level value="off" />
    <appender-ref ref="asio-events" />
  </logger>

  <logger name="de.fuberlin.wiwiss.d2rq">
    <level value="error"/>
  </logger>

  <logger name="com.hp.hpl.jena">
    <level value="error" />
  </logger>

  <logger name="uk.org.ogsadai">
    <level value="off"/>
  </logger>

  <!-- jaxrs framework -->
  <logger name="org.apache.cxf">
    <level value="off" />
  </logger>

  <logger name="org.jooq">
    <level value="off" />
  </logger>

  <logger name="org.dbunit">
    <level value="off"/>
  </logger>

  <!-- disable logging for quiet testing -->
  <root>
    <level value="off"/>
    <appender-ref ref="stdout"/>
  </root>

</log4j:configuration>

