## velocity uses the hash as comment marker, therefore use a variable to embed heading markers

#set( $h3 = '###' )

asio
====

asio is a HTTP based service platform for access to relational databases. It is used to host
datasets in the [VPH-Share](http://vph-share.eu/) cloud. asio provides

 * a SQL query endpoint
 * a [SPARQL Protocol](http://www.w3.org/TR/sparql11-protocol/)endpoint based on [D2R](http://d2rq.org/)
 * metadata from the [VPH repository](http://vphshare.atosresearch.eu/)

Getting started
---------------

$h3 Requirements

 * [Java 7](http://openjdk.java.net/projects/jdk7/)
 * [MySQL database](http://dev.mysql.com/)

$h3 Quick start
 
 * Download the [current release](http://elvira.par.univie.ac.at/archiva/repository/internal/at/ac/univie/isc/asio-distribution/${site-version}/asio-distribution-${site-version}.rpm) and install it.
 * Edit the settings in `/etc/sysconfig/asio` and `/var/local/asio` and start the asio service `service asio start`.
 * Execute `/usr/local/bin/asio <your_dataset_name> </path/to/d2r-mapping.ttl>` to deploy an asio instance.
 * Open `http://<host_and_port>/<your_dataset_name>/read/explore/sql.html` to start browsing your data.

Release notes
-------------

$h3 v0.6.3

  * Add license headers to source files

$h3 v0.6.2

  * Server configuration is now centralized in `server.yml`
  * Fix redeployments in multi-tenant mode

$h3 v0.6.0

  * Switch from .war deployment to standalone .jar with embedded tomcat
  * Support for managing multiple datasets per asio instance
  * Client implementation with extended functionality
  * Distributions are now provided as tarball and rpm
  * Full support for secure multi-tenant hosting on MySql

$h3 v0.5.1 "alpaca"

  * The dataset application is now an asio module called asio-lair
  * In a multi-tenant setting, other MySQL schemas will now not be exposed
  * There is now an installation script to aid in upgrading from pre-0.5.x versions
  * Many minor improvements and fixes

$h3 v0.5.0-RC "alpaca"

  * Per-Column filters in the SQL Explorer
  * URL values are displayed as link in the SQL explorer
  * Sparql Processor Node module "flock"
  * Engine improvements : reactive execution, lightweight SQL engine, D2R and Jena updated

$h3 v0.4.4

 * Various design improvements in the SQL explorer
 * XML and JSON representations of error messages
 * New `upgrade` command for asio.sh : batch redeploy asio instances when installing a new version

$h3 v0.4.3

 * SQL explorer pages are now SSL ready
 * application/xml is now the default response content type
 * Updating mappings of deployed asio instances is now supported
 * MySQL compatibility options are now set by default

$h3 v0.4.2

 * SQL and SPARQL explorer pages are now included when deploying an asio instance

$h3 v0.4.1

 * Releases are now also packaged as .tar.gz
 * `migrate` command added to `asio.sh` - converts legacy vce/d2r installations
 * Dataset metadata from the VPH-Share repository is displayed in the SQL explorer

$h3 v0.4

 * `asio/bin/asio.sh` shell script to deploy asio instances from the command line.
 * `/meta` resource provides metadata from the VPH repository.
 * Major improvements to the layout and usability of the SQL explorer.
